// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import "lightbox";

body {
  padding-top: 50px;
  background: #050505;
  text-align: center;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

nav img {
	max-height: 48px;
	padding: 0 10px;
	float: left;
}

h2 {
	padding: 64px 0 0 0;
}